body{
	font-family: Arial;
}

#Sitebar {
	background-color: #324950;
    text-align: right;
    width:1415px;
    float:right;
    position: fixed;
    top: 10px;
    right: 10px;
}

a:link, a:visited {
    color: white;
    padding: 15px;
    padding-top: 17px;
    width: 75px;
    text-align: center;
    text-decoration: none; 
}

a:hover, a:active {
    background-color: #3a7a90;
    color: white;
}

.CenterText {
    text-align: center;
    color: black;
    padding-top: 250px;
}

.Button {

}

h1{
    font-size: 50px;
    color: white;

}